# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Flask instance folder
instance/
*.pyc

# dotenv
.env

# MyPy
.mypy_cache/

# IDE configuration files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python egg files
*.egg-info/
*.egg

# Build directories
build/
dist/
*.egg-info/

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log

# Coverage reports
.coverage
htmlcov/
*.cover

# Other files
*.DS_Store
